@model IEnumerable<TeacherManager.Models.NOTIFICATION>

<style>
    .details {
        text-decoration: none;
        color: #191970;
        font-size: 18px;
    }

    .card-body {
        background-color: #F8F8FF;
    }

    .icon {
        display: flex;
        justify-content: center;
    }

    i {
        align-self: center;
        font-size: 45px;
        color: #191970;
    }

    .title {
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
</style>

@foreach (var item in Model)
{
    <div class="col-xl-12">
        <div class="card mb-3 card-body">
            <div class="row align-items-center h-25">
                <div class="col-2 icon">
                    <i class="fa-solid fa-briefcase justify-content-center"></i>
                </div>
                <div class="col-10">
                    <div class="title">
                        <h6 class="mb-1">
                            @Html.ActionLink(item.TITLE, "Details", new { id = item.ID, name = item.TITLE }, new { @class = "details" })
                        </h6>
                        <div class="row align-items-center">
                            <div class="col-12">
                                <div class="row align-items-center g-0">
                                    <div class="col-auto">
                                        <small class="me-2">Ngày đăng:@item.DATESUBMIT</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
